@model protean.Areas.RepGroupPortal.Models.OpenQuoteViewModel
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Open Quotes";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
}

@*-- Page Heading --*@
<div class="pt-page-header flex-container align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><i class="fa fa-file-alt fa-fw mr-2"></i>@Current.User.SalesRep.RepGroupDescription Open Quotes</h1>
</div>

<div class="row mb-4">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Open Quotes</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.OpenQuoteCount.ToString()</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-file fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Open Quote Total</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.OpenQuoteTotal.ToString("C")</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Open Quotes</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Reports:</div>
                        <a class="dropdown-item" href="#" id="btnDownload"><i class="fas fa-download fa-sm mr-2"></i>Download .xlsx</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if (Model.ResponseObject.value.Count > 0)
                    {
                        <table id="OpenOrders" class="table table-striped" width="100%">
                            <thead>
                                <tr>
                                    <th>Quote #</th>
                                    <th>Entry Date</th>
                                    <th>Customer</th>
                                    <th>Project</th>
                                    <th>Rep</th>
                                    <th>Quote Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ResponseObject.value)
                                {
                                    <tr data-id="@item.GRC_OpenQuotesActiveReps_QuoteNum" class="pt-clickable click"><!-- Jasmine 21-11-2021 -->
                                        <td>
                                            @item.GRC_OpenQuotesActiveReps_QuoteNum
                                        </td>
                                        <td>
                                            @Convert.ToDateTime(item.GRC_OpenQuotesActiveReps_EntryDate).ToShortDateString()
                                        </td>
                                        <td>
                                            @item.GRC_OpenQuotesActiveReps_CustomerName
                                        </td>
                                        <td>
                                            @item.GRC_OpenQuotesActiveReps_Project
                                        </td>
                                        <td>
                                            @item.GRC_OpenQuotesActiveReps_PrimRepName
                                        </td>
                                        <td>
                                            @Convert.ToDouble(item.GRC_OpenQuotesActiveReps_QuoteTotal).ToString("C")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>No open orders were found.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    @*@Scripts.Render("~/datatables")*@

    <script type="text/javascript">
        $(document).ready(function () {
            var token = $('input[name="__RequestVerificationToken"]').val();

            $('#OpenOrders').DataTable({
                "pageLength": 50,
                "info": true,
                "paging": true,
                "order": [[0, "asc"]]
            });

            $("#btnDownload").bind("click", function (e) {
                ShowWorkingImage();
                e.preventDefault(); @* prevent default click behavior *@
                window.location = "/RepGroupPortal/RepGroupQuotes/GetOpenQuotes_Excel";
                HideWorkingImage();
            });

            //Jasmine 21-11-2021
            $(".click").on('click', function (e) {
                ShowWorkingImage();
				OnClickableRow("@Url.Action("OpenQuoteDetails", "RepGroupQuotes")", $(this).data("id"), e);
            });
        });
    </script>
}