@model dynamic
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Open Orders Commissions Report";
}

@section Styles {
    @*@Styles.Render("~/datatables")*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Open Order Commissions</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            @if (Model.value.Count > 0)
            {
                <table id="example" class="table table-striped table-hover" width="100%">
                    <thead>
                        <tr>
                            <th>Customer</th>
                            <th>SO</th>
                            <th>Order Date</th>
                            <th>Order Total</th>
                            <th>Commission</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.value)
                        {
                            <tr data-id="@item.GRC_SalesOrderCommRpt_CustName1" class="pt-clickable">
                                <td>
                                    @item.GRC_SalesOrderCommRpt_CustName1
                                </td>
                                <td>
                                    @item.GRC_SalesOrderCommRpt_OrderNum1
                                </td>
                                <td>
                                    @Convert.ToDateTime(item.GRC_SalesOrderCommRpt_OrderDate1).ToShortDateString()
                                </td>
                                <td>
                                    @Convert.ToDouble(item.GRC_SalesOrderCommRpt_OrderTot1).ToString("C")
                                </td>
                                <td>
                                    @Convert.ToDouble(item.GRC_SalesOrderCommRpt_RepCom1).ToString("C")
                                </td>
                                <td style="width:25px;">
                                    <span title="Details" class="pt-clickable"><i class="fas fa-info-circle fa-sm fa-fw mr-2"></i></span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    @*@Scripts.Render("~/datatables")*@

    <script type="text/javascript">
        $(document).ready(function () {
            var token = $('input[name="__RequestVerificationToken"]').val();

            $('#example').DataTable({
                "pageLength": 25,
                "info": true,
                "paging": true
            });


        });
    </script>
}
