@using System.Globalization;

@model protean.Areas.Employee.Models.RepGroupDetails
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
    ViewBag.Title = "Sales Management";
}
@* Page Heading *@
<div class="pt-page-header d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><i class="fa fa-tachometer-alt fa-fw mr-2"></i>Bookings - @Model.RepGroupName</h1>
    <div class="flex-container">
        <a href="#" onclick="GoBackOne();" class="d-none d-sm-inline-block btn btn-circle btn-primary shadow-sm"><i class="fas fa-arrow-left fa-sm"></i></a>
    </div>
</div>

<div class="row">

    @*Month Quota Stats*@
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-@MyHelpers.GetQuotaColor(Model.QuotaMonthPercent) shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-s font-weight-bold text-@MyHelpers.GetQuotaColor(Model.QuotaMonthPercent) text-uppercase mb-1">@DateTime.Now.ToString("MMMM") Quota</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@(Model.QuotaMonthPercent.ToString())%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar progress-bar-striped bg-@MyHelpers.GetQuotaColor(Model.QuotaMonthPercent)" role="progressbar" style="width: @(Model.QuotaMonthPercent.ToString())%" aria-valuenow="@(Model.QuotaMonthPercent.ToString())" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="text-s mb-0 font-weight-bold text-gray-800">@Model.BookingsTotalMonth.ToString("C") / @Model.BookingsQuotaMonth.ToString("C")</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
                <hr />
                <div class="row no-gutters align-items-center mb-1">
                    <div class="col">
                        <div class="text-xs mb-0 mr-3 font-weight-bold text-gray-800">@((new DateTimeFormatInfo().GetMonthName(DateTime.Now.AddMonths(-1).Month)).ToString()):</div>
                    </div>
                    <div class="col-auto">
                        <div class="text-xs mb-0 ml-3 font-weight-bold text-gray-800">@Model.PriorMonthBookings.ToString("C")</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*YTD Quota Stats*@
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-@MyHelpers.GetQuotaColor(Model.QuotaYTDPercent) shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-s font-weight-bold text-@MyHelpers.GetQuotaColor(Model.QuotaYTDPercent) text-uppercase mb-1">@DateTime.Now.Year.ToString() Quota YTD</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@(Model.QuotaYTDPercent.ToString())%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar progress-bar-striped bg-@MyHelpers.GetQuotaColor(Model.QuotaYTDPercent)" role="progressbar" style="width: @(Model.QuotaYTDPercent.ToString())%" aria-valuenow="@(Model.QuotaYTDPercent.ToString())" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="text-s mb-0 font-weight-bold text-gray-800">@Model.BookingsTotalYTD.ToString("C") / @Model.BookingsQuotaYTD.ToString("C")</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
                <hr />
                <div class="row no-gutters align-items-center mb-1">
                    <div class="col">
                        <div class="text-xs mb-0 mr-3 font-weight-bold text-gray-800">@(DateTime.Now.AddYears(-1).Year.ToString()) YTD:</div>
                    </div>
                    <div class="col">
                        <div class="progress progress-sm mr-2">
                            <div class="progress-bar progress-bar-striped bg-@MyHelpers.GetQuotaColor(Model.PriorYTDPercent)" role="progressbar" style="width: @(Model.PriorYTDPercent.ToString())%" aria-valuenow="@(Model.PriorYTDPercent.ToString())" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="text-xs mb-0 ml-3 font-weight-bold text-gray-800">@(Model.PriorYTDPercent.ToString())%</div>
                    </div>
                </div>
                <div class="row mb-2 mt-0 ml-1">
                    <div class="col">
                        <div class="text-xs mb-0 font-weight-bold">@Model.PriorYTDBookings.ToString("C") / @Model.PriorYTDQuota.ToString("C")</div>
                    </div>
                </div>
                <div class="row no-gutters align-items-center mb-1">
                    <div class="col">
                        <div class="text-xs mb-0 mr-3 font-weight-bold text-gray-800">@(DateTime.Now.AddYears(-1).Year.ToString()) Whole Year:</div>
                    </div>
                    <div class="col">
                        <div class="progress progress-sm mr-2">
                            <div class="progress-bar progress-bar-striped bg-@MyHelpers.GetQuotaColor(Model.PriorYearPercent)" role="progressbar" style="width: @(Model.PriorYearPercent.ToString())%" aria-valuenow="@(Model.PriorYearPercent.ToString())" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="text-xs mb-0 ml-3 font-weight-bold text-gray-800">@(Model.PriorYearPercent.ToString())%</div>
                    </div>
                </div>
                <div class="row mt-0 ml-1">
                    <div class="col">
                        <div class="text-xs mb-0 font-weight-bold">@Model.PriorYearBookings.ToString("C") / @Model.PriorYearQuota.ToString("C")</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    @*-- Bookings Chart --*@
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Bookings Snapshot</h6>
                @*<div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>*@
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="bookingsOverview"></canvas>
                </div>
            </div>
        </div>
    </div>

    @*-- Quota Contribution --*@
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Quota Contribution</h6>
                @*<div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>*@
            </div>
            <div class="card-body">
                @if (Model.QuotaResponseObject.value.Count > 0)
                {
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small" id="QuotaLegend">
                        @for (var i = 0; i < Model.QuotaResponseObject.value.Count; i++)
                        {
                            <span class="mr-2">
                                <i class="fas fa-circle" data-index="@i"></i> @Model.QuotaResponseObject.value[i].SalesRep_Name
                            </span>
                        }
                    </div>
                }
                else
                {
                    <p>There are no contributions to report.</p>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/chartjs")

    <script type="text/javascript">
        //Set the custom legend for quote chart
        $(document).ready(function () {
            $('#QuotaLegend').find('span i').each(function () {
                $(this).css("color", GetColorList()[$(this).attr('data-index')]);
            });
        });
    </script>

    <script type="text/javascript">
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        function number_format(number, decimals, dec_point, thousands_sep) {
            // *     example: number_format(1234.56, 2, ',', ' ');
            // *     return: '1 234,56'
            number = (number + '').replace(',', '').replace(' ', '');
            var n = !isFinite(+number) ? 0 : +number,
                prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                s = '',
                toFixedFix = function (n, prec) {
                    var k = Math.pow(10, prec);
                    return '' + Math.round(n * k) / k;
                };
            // Fix for IE parseFloat(0.55).toFixed(0) = 0;
            s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || '';
                s[1] += new Array(prec - s[1].length + 1).join('0');
            }
            return s.join(dec);
        }

        var ctx = document.getElementById("bookingsOverview");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: @Html.Raw(Model.BookingsLabel),
                datasets: [{
                    label: '@Model.BookingsLabel1',
                    lineTension: 0.3,
                    backgroundColor: window.chartColorsTrans.blue,
                    borderColor: window.chartColorsSolid.blue,
                    pointRadius: 3,
                    pointHoverRadius: 3,
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    data: @Html.Raw(Model.BookingsData),
                }, {
                    label: '@Model.BookingsLabel2',
                    lineTension: 0.3,
                    backgroundColor: window.chartColorsTrans.red,
                    borderColor: window.chartColorsSolid.red,
                    pointRadius: 3,
                    pointHoverRadius: 3,
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    data: @Html.Raw(Model.PrevBookingsData),
                }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 7
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            maxTicksLimit: 5,
                            padding: 10,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return '$' + number_format(value);
                            }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        }
                    }],
                },
                legend: {
                    display: true,
                    position: 'bottom'
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
                        }
                    }
                }
            }
        });
    </script>
    <script type="text/javascript">

        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        // Pie Chart Example
        var ctx = document.getElementById("myPieChart");
        var myPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: @Html.Raw(Model.QuoteContributionLabel),
                datasets: [{
                    data: @Html.Raw(Model.QuoteContributionData),
                    backgroundColor: GetColorList(),
                    hoverBackgroundColor: GetColorHoverList(),
                    hoverBorderColor: "rgba(234, 236, 244, 1)",
                }],
            },
            options: {
                maintainAspectRatio: false,
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var dataset = data.datasets[tooltipItem.datasetIndex];
                            var total = dataset.data.reduce(function (previousValue, currentValue, currentIndex, array) {
                                return previousValue + currentValue;
                            });
                            var currentValue = dataset.data[tooltipItem.index];
                            var percentage = Math.floor(((currentValue / total) * 100) + 0.5);
                            return data.labels[tooltipItem.index] + ': ' +percentage + "%";
                        }
                    }
                },
                legend: {
                    display: false
                },
                cutoutPercentage: 80,
            },
        });
    </script>
}
